<!-- Telegram Chat Content Panel -->
<div class="tg-chat-content" id="tgChatContent">
    <!-- Tin nhắn bên trái (người khác) -->
    <div class="tg-message tg-message-left">
        <div class="tg-message-avatar">
            <img src="/static/images/avatar2.png" alt="B">
        </div>
        <div class="tg-message-bubble">
            <div class="tg-message-header">
                <span class="tg-message-name">Hỗ trợ khách hàng</span>
                <span class="tg-message-time">09:15</span>
            </div>
            <div class="tg-message-text">
                Chào bạn! Đây là giao diện chat kiểu Telegram.<br>
                <a href="https://telegram.org/" target="_blank">Xem thêm về Telegram</a>
            </div>
            <div class="tg-message-actions">
                <span>👍 2</span> <span>💬 1</span> <span>🔗</span>
            </div>
        </div>
    </div>
    <!-- Tin nhắn bên phải (mình) -->
    <div class="tg-message tg-message-right">
        <div class="tg-message-bubble">
            <div class="tg-message-header">
                <span class="tg-message-name">Bạn</span>
                <span class="tg-message-time">09:16</span>
            </div>
            <div class="tg-message-text">
                Cảm ơn! Giao diện này đã giống Telegram chưa?
            </div>
            <div class="tg-message-actions">
                <span>👍</span> <span>💬</span>
            </div>
        </div>
        <div class="tg-message-avatar">
            <img src="/static/images/avatar1.png" alt="A">
        </div>
    </div>
    <!-- Tin nhắn có file đính kèm -->
    <div class="tg-message tg-message-left">
        <div class="tg-message-avatar">
            <img src="/static/images/avatar3.png" alt="C">
        </div>
        <div class="tg-message-bubble">
            <div class="tg-message-header">
                <span class="tg-message-name">Telegram Bot</span>
                <span class="tg-message-time">09:17</span>
            </div>
            <div class="tg-message-text">
                Đây là file bạn yêu cầu:
                <div class="tg-message-file">
                    <i class="fas fa-file-pdf"></i> <a href="#">Báo cáo tài chính.pdf</a> <span class="tg-file-size">2.4 MB</span>
                </div>
            </div>
            <div class="tg-message-actions">
                <span>🔗</span>
            </div>
        </div>
    </div>
    <!-- Tin nhắn có ảnh -->
    <div class="tg-message tg-message-right">
        <div class="tg-message-bubble">
            <div class="tg-message-header">
                <span class="tg-message-name">Bạn</span>
                <span class="tg-message-time">09:18</span>
            </div>
            <div class="tg-message-text">
                <img src="/static/images/demo-image.jpg" alt="Demo" class="tg-message-image">
            </div>
        </div>
        <div class="tg-message-avatar">
            <img src="/static/images/avatar1.png" alt="A">
        </div>
    </div>
    <!-- Tin nhắn chia sẻ link bài viết -->
    <div class="tg-message tg-message-left">
        <div class="tg-message-avatar">
            <img src="/static/images/avatar2.png" alt="B">
        </div>
        <div class="tg-message-bubble">
            <div class="tg-message-header">
                <span class="tg-message-name">Hỗ trợ khách hàng</span>
                <span class="tg-message-time">09:19</span>
            </div>
            <div class="tg-message-text">
                <a href="https://telegra.ph/huong-dan-su-dung-teledrive-01-01" target="_blank" class="tg-link-preview">
                    <div class="tg-link-title">Hướng dẫn sử dụng TeleDrive</div>
                    <div class="tg-link-desc">Bài viết chi tiết về cách sử dụng TeleDrive để quản lý file từ Telegram.</div>
                    <div class="tg-link-url">telegra.ph/huong-dan-su-dung-teledrive-01-01</div>
                </a>
            </div>
        </div>
    </div>
</div>


